<div class="title">
    <h2>{{title}}</h2>
</div>
   
   
<div class="container">
        <h1>Education</h1>

<div class='md-padding' layout="row" layout-wrap >
    <md-card style="width:100%;">
      <img style="float: right;" right; ng-src='{{education.image}}' alt="{{education.alt}}" title="{{education.title}}"/>
      <md-card-content>
        <h3>{{education.uni}}</h3>
        <h3>{{education.college}}</h3>
        <h4>{{education.degreeType}}</h4>
        <h4>{{education.gradYear}}</h4>
      </md-card-content>
    </md-card>
</div>
</div>

<div class="container">
        <h1>Skills</h1>
<div class='md-padding' layout="row" layout-wrap >
    <md-card style="width:100%;" ng-repeat="skill in skills">
        <img style="float: right;" right; ng-src='{{skill.image}}' alt="{{skill.alt}}" title="{{skill.title}}"/>
      <md-card-content>
        <h2>{{skill.name}}</h3>
        <h3>Experience: {{skill.duration}}</h3>
      </md-card-content>
    </md-card>
</div>
</div>