<div class="title">
    <h1>Register - Business Information</h1>
</div>

<div class="container">
    <div ng-controller="registerBusinessController">
        <legend>User Info </legend>
        <h3>Business Name: </h3>
        <input type="text" class="form-control" ng-model="bizName" required />
        <h3>Business Address: </h3>
        <input type="text" class="form-control" ng-model="bizAddress" required/>
        <h3>Business Address 2: </h3>
        <input type="text" class="form-control" ng-model="bizAddress2" />
        <h3>Business City: </h3>
        <input type="text" class="form-control" ng-model="bizCity" required/>
        <h3>Business State: </h3>
        <input type="text" class="form-control" ng-model="bizState" required/>
        <h3>Business Zip: </h3>
        <input type="number" class="form-control" ng-model="bizZip" required/>
        <br />
        <legend></legend>      
        <button class="btn btn-primary" ng-click="addBizInfo()">step 3</button>
        <button class="btn btn-alternate" ng-click="skipToProfile()">skip</button>      
     </div>
  </div>