<div class="container">
    <div ng-controller="authController">
        <div class='title'>
            <h2>Sign Up!</h2>
        </div>
        <h3>Email: </h3>
        <input type="email" class="form-control" ng-model="email" required />
        <h3>Password: </h3>
        <input type="password" class="form-control" ng-model="password" required/>
        <br />
        <div>
            <button class="btn btn-primary" ng-click="signUp()">Sign Up!</button>         
        </div>
    </div>  
</div>
            
        