
/* Testing Stuff */
.content {
    padding: 10px;
}

/* End Test */


/****Body****/
#mainDiv {
    height: 100%;
}

#materialLinks li {
    width: 100%;
    padding-left: 20px;

}

#megaDiv {
    height: 100%;
}

/****Navbar****/
#mainSearch{
    width:100%;
    margin: 10px auto;
}
#companyColors{
    background-color: #d1141e; 
}
#companyColors a {
    color: black;
}
#companyColors a:visited {
    color: black;
}
#companyColors a:hover {
    color: black;
    background-color:white;
    
}
#burgerButton {
    float: left;
    padding-left: 5%;
}
#authDiv{
    text-decoration: underline;  
}
#authDiv a {
    color: black;    
}
#authDiv a:visited {
    text-decoration:underline; 
    color: black; 
   
}
#authDiv a:hover {
    text-decoration:underline;  
}

  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }

/****Footer****/
/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d1141e;
  color: black;
}

.title {
    text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
/* makes alerts float - needs work*/
#alertContainer {
    position: fixed; 
    top: 50px; 
    right: 0; 
    left: 0; 
    width: 100%
}
/**** Fieldsets ****/
#authRoute{
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    border-radius: 4px;
}
#authRouteLegend{
    background-color: black;
    width: 250px;
    border-radius: 5px;
    color: white;
}
#authRouteInnerDiv{
    margin: 10px;
}
.centered{
    margin: 0 auto;
}
#signUpDiv{
    background-color: black;
    color:white;
    border-radius: 4px;
    width: 80%;   
    margin: 0 auto;
}
#signUpFieldset{
    margin: 0 auto;
    color: white;
    width: 80%; 
    padding: 10px;
}

#signUpFieldset legend{
    color: white;
}

/*** Modal Cancel Button ***/
#cancelModal {
    font-size: 18px;
    float: right;
    font-style: bold;
    color: black;
    cursor: pointer;
    cursor: hand;  
}
.modalHover {
    cursor: pointer;
    cursor: hand;
}

